.idea
.vscode
/.htaccess
/upload/
logs/
/*.html
/sitemap*.xml
~*
*.log
/*.sql
Thumbs.db
.DS_Store
._.DS_Store
/robots.txt
 
/bitrix/*
!/bitrix/php_interface
/bitrix/php_interface/*
!/bitrix/php_interface/dbconn.php
.osp
Ex2DemoMaterials.zip